/* Ensure table takes full width and height */
.content-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

/* Remove all margin and padding from body, container, and table */
body, .container, .content-table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  margin: 150px 0;
}

body {
  overflow-x: hidden;
}

/* Make images responsive */
.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Style for top navigation */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2eaaea; /* Updated background color */
  color: #fff;
  z-index: 1000;
  flex-wrap: wrap;
}

.top-nav .logo img {
  height: 80px;
}

.top-nav .nav-links {
  list-style-type: none;
  padding: 0;
}

.top-nav .nav-links li {
  display: inline;
  padding: 14px 20px;
  font-weight: bold;
}

.top-nav .nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.top-nav .nav-links a:hover {
  color: black; /* Change font color to black on hover */
  transform: scale(1.1); /* Scale up the nav link on hover */
  text-decoration: underline;
}

.logo img {
  width: 150px; /* Set a fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
  margin: 0;
  border-radius: 10px;
}
/* About Us section styles */
.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.about-section h3 {
  font-size: 70px;
  font-weight: bold;
  color: #2eaaea;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-img {
  flex: 1;
  width: 55%; /* Ensure the image takes up half the width */
}

.about-text {
  flex: 1;
  padding-left: 20px; /* Add some space between the image and the text */
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  background-color: #2eaaea;
  color: #fff;
  padding: 8px; /* Add padding for better readability */
  border-radius: 5px; /* Add border radius for smoother look */
}

/* Service sections */
#services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add some padding */
  margin: 100px 0;
}
#services h3 {
  font-size: 70px;
  font-weight: bold;
  color: #2eaaea;
  text-align: center;
  margin-bottom: 20px;
}
.service-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: none; /* Ensure no borders are applied */
  background-color: #fff;
}
.service-button-group .service-logo {
  width: 300px; /* Smaller size to match top nav logo size */
  height: auto;
  padding: 15px 100px;
  display: flex;
  justify-content: space-around;
}
.service-button-group button{
  background-color: #fff;
}
.service-button-group button .service-button {
  width: 500px;
  height: auto;
  transition: transform 0.3s ease; /* Transition effect for images */
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
}
.service-images {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  margin: 80px 10px 0 50px;
}

.service-row {
  display: flex;
  justify-content: space-around; /* Distribute space evenly between items */
  align-items: center;
  background-color: #fff;
  transition: transform 0.3s ease; /* Transition effect for images */
  width: 30%;
  height: auto;
  margin: 0;
  padding: 0;
}
.service-row img{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}
.service-row img:hover, .service-button-group button img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow effect on hover */
  transform: scale(1.05); /* Scale the image on hover */
}

/* Style for Multi Brand Services heading */
#multi-brand-services h3 {
  font-size: 70px;
  font-weight: bold;
  color: #2eaaea;
  text-align: center;
  margin-bottom: 20px;
}

/* Multi Brand Services image */
.multi-brand-img {
  width: 100%;
  height: auto;
}
/* General styles for the section */
.insurance-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.insurance-images {
  text-align: center;
  margin: 20px 0;
}

.insurance-img, .car-wash-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.insurance-text {
  margin: 0 auto; /* Center horizontally */
  text-align: center;
}

.insurance-content h3 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2eaaea;
}

.insurance-text p {
  font-size: 18px;
  line-height: 1.5;
  background-color: #2eaaea;
  color: #fff;
  padding: 10px; /* Add padding for better readability */
  border-radius: 5px; /* Add border radius for smoother look */
}

.line {
  width: 99%;
  height: 2px;
  background-color: #2eaaea;
  margin: 20px 0;
}

/* Style for bottom navigation */
.bottom-nav {
  width: 100%;
  background-color: #2eaaea;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.bottom-nav .social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.bottom-nav .social-media li {
  display: block;
  padding: 5px;
  font-weight: bold;
}

.bottom-nav .social-media a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.bottom-nav .social-media a:hover {
  color: #000;
  text-decoration: underline;
  transform: scale(1.1);
}

.bottom-nav .social-media img {
  display: block;
  margin: 0 auto;
  width: 40px; /* Set a fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
}

/* CSS styles for the fixed button */
.enquiry-button {
  position: fixed;
  left: 20px;
  bottom: 100px;
  padding: 10px 20px;
  background-color: #ff4d4d; /* Red background color */
  color: #fff; /* White font color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index: 1000;
  font-weight: bold;
}

/* Style on hover */
.enquiry-button:hover {
  background-color: #ff3333; /* Darker shade of red */
  transform: scale(1.1); /* Scale the button size on hover */
  color: black; /* Change font color to black on hover */
}

/* Media query for screen size 375px */
@media screen and (max-width: 375px) {
  .about-content, .service-images, .insurance-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }
  .about-img, .about-text, .insurance-img, .car-wash-img {
    width: 100%; /* Ensure elements take full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  .about-text p, .insurance-text p {
    font-size: 30px; /* Set font size for p elements */
    padding: 0; /* Remove padding */
  }
  .service-row {
    justify-content: center; /* Center-align images */
  }
}

/* Media query for screen size 576px */
@media screen and (max-width: 576px) {
  .about-content, .service-images, .insurance-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }
  .about-img, .about-text, .insurance-img, .car-wash-img {
    width: 100%; /* Ensure elements take full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  .about-text p, .insurance-text p {
    font-size: 30px; /* Set font size for p elements */
    padding: 0; /* Remove padding */
  }
  .service-row {
    justify-content: center; /* Center-align images */
  }
}

/* Media query for screen size 768px */
@media screen and (max-width: 768px) {
  .about-content, .service-images, .insurance-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }
  .about-img, .about-text, .insurance-img, .car-wash-img {
    width: 100%; /* Ensure elements take full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  .about-text p, .insurance-text p {
    font-size: 30px; /* Set font size for p elements */
    padding: 0; /* Remove padding */
  }
  .service-row {
    justify-content: center; /* Center-align images */
  }
}

/* Media query for screen size 1200px */
@media screen and (max-width: 1200px) {
  .about-content, .service-images, .insurance-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }
  .about-img, .about-text, .service-row img, .insurance-img, .car-wash-img {
    width: 100%; /* Ensure elements take full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  .about-text p, .insurance-text p {
    font-size: 30px; /* Set font size for p elements */
    padding: 0; /* Remove padding */
  }
  .service-row {
    width: 100%; /* Full width for service row */
    justify-content: center; /* Center-align images */
  }
}
