/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; /* Light gray background */
  color: #333; /* Dark gray font color */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

/* Navigation styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2eaaea; /* Updated background color */
  color: #fff;
  z-index: 1000; /* Ensure it stays above other content */
}

.logo img {
  width: 150px; /* Set a fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 40px;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color change and transform */
}

.nav-links a:hover {
  color: black; /* Change font color to black on hover */
  transform: scale(1.1); /* Scale up the nav link on hover */
}

/* CSS styles for the fixed button */
.enquiry-button {
  position: fixed;
  left: 20px;
  bottom: 100px;
  padding: 10px 20px;
  background-color: #ff4d4d; /* Red background color */
  color: #fff; /* White font color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index: 1000;
}

/* Style on hover */
.enquiry-button:hover {
  background-color: #ff3333; /* Darker shade of red */
  transform: scale(1.1); /* Scale the button size on hover */
  color: black; /* Change font color to black on hover */
}

/* Home section styles */
#home {
  display: flex;
  justify-content: space-between;
  margin-top: 140px; /* Adjust this value to match the height of your navigation bar */
}

.shop-details {
  display: flex;
  flex-grow: 1; /* Allow the shop details div to grow to fill the available space */
}

.left-image {
  flex-grow: 1; /* Make the left image take up equal space */
  width: 90%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Position the image relative to its container */
  left: 15px;
}

.left-image img {
  max-width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  top: 0; /* Position the image at the top of its container */
  left: 0; /* Position the image at the left of its container */
  z-index: 1; /* Ensure the image is above other content */
}

.right-image {
  flex-grow: 1; /* Make the right image take up equal space */
  width: 110%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  right: 15px;
}


.right-image img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
  position: relative; /* Position the image absolutely within its container */
  top: 0; /* Position the image at the top of its container */
  left: 0; /* Position the image at the left of its container */
  z-index: 1; /* Ensure the image is above other content */
}

.info-image {
  position: relative;
  top: 100%; /* Adjust as needed */
  left: 0%; /* Adjust as needed */
  height: auto;
}

/* About section styles */
#about {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add padding */
}

#about img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

/* Service section styles */
#services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add some padding */
}

.service-image {
  max-width: 100%; /* Adjust as needed */
  height: auto;
}

.service-images {
  display: flex;
  flex-direction: column; /* Arrange images in a column */
  align-items: center; /* Center the images horizontally */
}

.service-row {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

.service-row img {
  width: 250px; /* Set a fixed width for the images */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add some horizontal spacing between images */
  transition: box-shadow 0.3s ease; /* Add transition for box-shadow effect */
}

.service-row img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow effect on hover */
  transform: scale(1.1); /* Scale the image on hover */
}

/* Multi-Brand Services section styles */
#multi-services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add padding */
}

.multi-brand-img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Ensure the image doesn't exceed the screen height */
}

/* Insurance section styles */
#insurance-services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add some padding */
}

.insurance-images {
  display: flex;
  flex-direction: column; /* Arrange images in a column */
  align-items: center; /* Center the images horizontally */
}

.line {
  width: 100%;
  height: 2px;
  background-color: #2eaaea;
  margin: 10px 0;
}

.insurance-images img {
  max-width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  margin: 10px 0; /* Add some vertical spacing between images */
}

/* Footer styles */
footer {
  background-color: #2eaaea;
  color: #fff;
  padding: 10px 20px; /* Add padding to the top and bottom */
  font-weight: bold; /* Make font bold */
  font-size: 15px; /* Increase font size */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; /* Center-align text */
  width: 99%; /* Set maximum width to prevent horizontal overflow */
  z-index: 1000;
}

.social-media {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.social-media li {
  margin: 0 10px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
}

.social-media img {
  width: 40px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Optional: Add some spacing between the image and text */
}

.social-media li:hover {
  transform: scale(1.1); /* Scale up the nav link on hover */
}

/* Media queries for responsiveness */
/* Media query for navigation bar */
@media screen and (max-width: 768px) {
  /* Center-align the navigation links */
  .nav-links {
    justify-content: center;
  }

  /* Adjust the padding of the navigation */
  nav {
    padding: 10px 0;
  }

  /* Center-align the logo */
  .logo {
    margin-right: auto;
    margin-left: auto;
  }

  /* Center-align the enquiry button */
  .enquiry-button {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; /* Adjust as needed */
  }

  /* Center-align the footer social media icons */
  .social-media {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  /* Center-align contents within the container for smaller screens */
  .container {
    padding: 0 10px; /* Add padding for better spacing on smaller screens */
  }
}

/* Media query for home section */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .left-image img,
  .right-image img,
  #about img,
  .multi-brand-img,
  .insurance-images img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
  }

  .info-image {
    display: none; /* Hide info image on smaller screens */
  }

  #home,
  #about {
    margin-top: 200px; /* Adjust the margin between sections */
    padding: 20px; /* Add padding to the sections */
  }
}

/* Media query for services section */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .service-images {
    flex-direction: column; /* Stack service rows vertically */
    align-items: center; /* Center-align service images */
  }

  .service-row img {
    width: 30%; /* Set width to 30% for mobile devices */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Add some horizontal spacing between images */
  }
}

/* Media query for footer */
@media screen and (max-width: 768px) {
  footer {
    padding: 20px 0; /* Adjust padding for smaller devices */
  }
}
