/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; /* Light gray background */
  color: #333; /* Dark gray font color */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

/* Navigation styles */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2eaaea; /* Updated background color */
  color: #fff;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo img {
  width: 150px; /* Set a fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
}

.nav-links, .bottom-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow contents to wrap */
}

.nav-links li, .bottom-nav li {
  margin-right: 40px;
  font-weight: bold;
}

.nav-links a, .bottom-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color change and transform */
}

.nav-links a:hover, .bottom-nav a:hover {
  color: black; /* Change font color to black on hover */
  transform: scale(1.1); /* Scale up the nav link on hover */
}

/* CSS styles for the fixed button */
.enquiry-button {
  position: fixed;
  left: 20px;
  bottom: 100px;
  padding: 10px 20px;
  background-color: #ff4d4d; /* Red background color */
  color: #fff; /* White font color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index: 1000;
}

/* Style on hover */
.enquiry-button:hover {
  background-color: #ff3333; /* Darker shade of red */
  transform: scale(1.1); /* Scale the button size on hover */
  color: black; /* Change font color to black on hover */
}

/* Home section styles */
#home {
  display: flex;
  justify-content: space-between;
  margin-top: 140px; /* Adjust this value to match the height of your navigation bar */
}

.shop-details {
  display: flex;
  flex-grow: 1; /* Allow the shop details div to grow to fill the available space */
}

.left-image {
  flex-grow: 1; /* Make the left image take up equal space */
  width: 90%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Position the image relative to its container */
  left: 15px;
}
.left-image img {
  max-width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  top: 0; /* Position the image at the top of its container */
  left: 0; /* Position the image at the left of its container */
  z-index: 1; /* Ensure the image is above other content */
}

.right-image {
  flex-grow: 1; /* Make the right image take up equal space */
  width: 110%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  right: 15px;
}


.right-image img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
  position: relative; /* Position the image absolutely within its container */
  top: 0; /* Position the image at the top of its container */
  left: 0; /* Position the image at the left of its container */
  z-index: 1; /* Ensure the image is above other content */
}

.info-image {
  position: relative;
  top: 100%; /* Adjust as needed */
  left: 0%; /* Adjust as needed */
  height: auto;
}

/* About section styles */
#about {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add padding */
}

#about img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

/* Service section styles */
#services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add some padding */
  margin: 100px 0;
}

.service-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  transition: transform 0.3s ease;
}

.service-image:hover {
  transform: scale(1.05);
}

.service-images {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  margin-top: 80px;
}
.service-images img {
  width: 150px; /* Adjust service images size */
  height: auto; /* Maintain aspect ratio */
}
.service-row {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

.service-row img {
  width: calc(33.33% - 20px); /* Set a fixed width for the images */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add some horizontal spacing between images */
  transition: box-shadow 0.3s ease; /* Add transition for box-shadow effect */
}

.service-row img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow effect on hover */
  transform: scale(1.1); /* Scale the image on hover */
}

.service-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.service-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: none; /* Ensure no borders are applied */
  background-color: #fff;
}

.service-logo {
  width: calc(33.33% - 5px); /* Same size as the nav bar logo */
  height: auto; /* Maintain aspect ratio */
  margin: 0;/* Space between logos */
  padding: 0 50px;
}

.service-button-group button img {
  width: 80%; /* Adjust the button image size to match service images */
  height: 150%; /* Maintain aspect ratio */
  cursor: pointer;
}


/* Multi-Brand Services section styles */
#multi-services {
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add padding */
}

.multi-brand-img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Ensure the image doesn't exceed the screen height */
}

/* Insurance section styles */
#insurance-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.insurance-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.insurance-img {
  width: 70%;
  height: auto;
  margin-right: 20px;
}
.insurance-text {
  max-width: 50%;
}

.insurance-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2eaaea;
}

.insurance-text p {
  font-size: 18px;
  line-height: 1.5;
}

.car-wash-img {
  max-width: 100%;
  height: auto;
}
.insurance-images {
  display: flex;
  flex-direction: column; /* Arrange images in a column */
  align-items: center; /* Center the images horizontally */
}

.line {
  width: 100%;
  height: 2px;
  background-color: #2eaaea;
  margin: 10px 0;
}


/* Footer styles */
/* Second Navigation styles */
.bottom-nav {
  width: 100%; /* Adjust width for mobile devices */
  background-color: #2eaaea;
  color: #fff;
  padding: 10px 30px;
  z-index: 1000;
  display: flex;
  position: relative;
  margin: auto; /* Center-align the navigation */
  flex-wrap: wrap; /* Allow contents to wrap */
  justify-content: space-between; /* Center-align contents */
}

.bottom-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-nav li {
  margin-right: 20px;
  font-size: 11px;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
}

.bottom-nav a:hover {
  text-decoration: underline;
}
.bottom-nav img {
  width: 40px; /* Set a fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Center-align contents within the container for smaller screens */
  .container {
    padding: 0 10px; /* Add padding for better spacing on smaller screens */
    justify-content: center;
  }

  /* Center-align the footer social media icons */
  .social-media {
    justify-content: center;
  }

  /* Center-align the navigation links */
  .nav-links {
    justify-content: center;
  }

  /* Center-align the logo */
  .logo {
    margin-right: auto;
    margin-left: auto;
  }

  /* Center-align the enquiry button */
  .enquiry-button {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; /* Adjust as needed */
  }

  /* Hide the info image on smaller screens */
  .info-image {
    display: none;
  }

  /* Adjust margin between sections for smaller screens */
  #home,
  #about {
    width: 100%; /* Set width to 100% for mobile devices */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  #home {
    margin-top: 160px; /* Adjust margin to keep content below navigation */
  }

  /* Increase size of about us image for mobile */
  #about img {
    max-width: 90%; /* Increase max-width for better visibility */
    height: auto; /* Maintain aspect ratio */
  }

  /* Center-align all section contents for mobile */
  #home,
  #about,
  #services,
  #multi-services,
  #insurance-services {
    text-align: center; /* Center-align the content */
    padding: 20px; /* Add padding for better spacing */
    margin: auto; /* Center the sections */
  }
}

/* Media query for navigation bar */
@media screen and (max-width: 768px) {
  /* Adjust the padding of the navigation */
  .top-nav, .bottom-nav {
    padding: 10px 0;
    width: 100%;
    flex-wrap: wrap;
  }
 .bottom-nav{
  padding: 0 15px;
 }
  /* Center-align the logo */
  .logo {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 375px) {
  /* Adjust the padding of the navigation */
  .top-nav, .bottom-nav {
    padding: 10px 0;
    width: 100%;
    flex-wrap: wrap;
  }
}
/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .service-row img {
    width: calc(30% - 20px); /* Set a fixed width for the images */
  }
  .service-row {
    flex-wrap: wrap;
  }
}

/* Media query for responsiveness */
@media screen and (max-width: 375px) {
  .service-row img {
    width: calc(100% - 20px); /* Set a fixed width for the images */
  }
  #home{
    margin-top: 160px;
  }
  .service-row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .insurance-content {
    flex-direction: column;
    text-align: center;
  }

  .insurance-img,
  .insurance-text,
  .car-wash-img {
    max-width: 100%;
    margin: 0;
  }

  .insurance-img {
    margin-bottom: 20px;
  }
}
/* Media query for smaller screens */
@media screen and (max-width: 576px) {
  /* Adjust the width of the navigation bars */
  .top-nav, .bottom-nav {
    padding: 10px 0; /* Adjust padding */
  }

  /* Make home section visible on smaller screens */
  #home {
    margin-top: 140px; /* Adjust margin to keep content below navigation */
  }

  /* Increase size of about us image for smaller screens */
  #about img {
    max-width: 100%; /* Increase max-width for better visibility */
    height: auto; /* Maintain aspect ratio */
  }

  /* Center-align all section contents for smaller screens */
  #home,
  #about,
  #services,
  #multi-services,
  #insurance-services {
    text-align: center; /* Center-align the content */
    padding: 20px; /* Add padding for better spacing */
    margin: auto; /* Center the sections */
  }
}
